body,
html {
    font-family: 'LibreFranklin', Arial, sans-serif;
    font-size: 10px;
}

.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;

}

a {
    text-decoration: none;
    color: inherit;
}

.hero {
    padding-top: 93px;
    padding-bottom: 30px;
    min-height: 100vh;
    background-image: url("../img/hero.jpg");
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
}

.hero > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo {
    font-size: 2.4rem;
    line-height: 1.21;
    font-weight: bold;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
}

nav a {
    font-size: 1.8rem;
    line-height: 1.22rem;
}


.hero-content {
    flex-grow:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.hero-content h1 {
    font-size: 6.4rem;
    line-height: 1.22;
    margin-bottom: 26px;
}


.hero-content p {
    font-size: 2.4rem;
    line-height: 1.21;
    margin-bottom: 106px;
}

.hero-content a {
    text-decoration: underline;
    font-size: 1.8rem;
    line-height: 1.22;
}


.about {
    padding: 93px 0 115px;
}

h2 {
    font-size: 2.4rem;
    line-height: 1.22;
    color: #333333;
    font-weight: bold;
}

.about h2 {
    margin-bottom: 76px;
}

.about p {
color:#333333;
    font-size: 1.8rem;
    line-height: 1.67;

    margin-bottom: 30px;
}

.about p:last-child{
    margin-bottom: 0;
}
